body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 1.1rem;
}

nav {
  display: flex;
  padding: 2rem 0;
  text-align: center;
}

nav section {
  width: 100%;
}

nav a {
  font-weight: 700;
  padding: 1rem 1.5rem;
  border-radius: 4px;
}

nav a:first-of-type {
  margin-left: -1.5rem;
}

/* nav a:hover {
  background: #222;
} */

a {
  color: #333333;
  text-decoration: none;
}

section {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5rem;
}

section h1 {
  font-size: 3rem;
}

.post h2 {
  font-size: 2.5rem;
}

.post-excerpt {
  padding: 1.5rem 0;
  border-bottom: 1px solid #eee;
}

.post-excerpt:first-of-type {
  padding-top: 0;
}

.post-excerpt h2 {
  margin-top: 0;
  font-size: 1.5rem;
}

.comment {
  background: #f0f0f0;
  border-radius: 4px;
  padding: 1rem 1.5rem;
  margin: 1rem 0;
}

.button {
  display: inline-block;
  background: #ea3546;
  color: white;
  border-radius: 4px;
  font-weight: 700;
  padding: 0.75rem 1.5rem;
}
body,
html {
  height: 100%;
  margin: 0;
}
.homeSection {
  background-image: url(/asserts/img/back.png);
  height: 100vh;
  margin: 0;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: unset;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.CenterScreen {
  width: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -170px;
  margin-left: -200px;
  text-align: center;
}

.fontSizeForL1 {
  font-family: "Circular Std Black" !important;
  font-style: normal;
  font-size: 26px;
  color: rgb(3, 51, 76) !important;
}

@font-face {
  font-family: "Circular Std Black", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  src: url(assets/font/CircularStd/CircularStd-Black.otf) format("otf"),
    url(assets/font/CircularStd/CircularStd-Bold.otf) format("otf"),
    url(assets/font/CircularStd/CircularStd-BlackItalic.otf) format("otf");
}

.navHome,
.navAbout {
  background-image: url("./assets/Img/BG.png");
}
.navHome Link {
  color: white !important;
}

.navBook {
  background-image: url("./assets/Img/BG1.png");
}
